<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>스쿠버 링크 : 홈</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/Scubalink_CSS_02.css" />

        <style>
            .tour { background: white; }
            #CONTENT_ON { min-height: -webkit-fill-available; background: #eeeeee; }
            .side-nav ul li:hover{ background: white; }
        </style>
    </head>

    <body>
<!--        <div class="header">-->
<!--            <span class="logo">투어/교육</span>-->
<!--            <div class="burger_container"><img class="burger_img menu" src="img/ic-menu.svg" alt="" /></div>-->
<!--            <span id="btn_search" class="search" style="right: 16px;"><img src="img/search.svg" alt="" /></span>-->
<!--        </div>-->

        <div class="header header_ins">
            <!--현재 페이지-->
            <span class="logo" id="header_profile_name"><%= name %></span>
            <!--메뉴 버튼-->
            <div class="burger_container">
                <img class="burger_img menu" src="img/ic-menu.svg">
            </div>
            <!-- 검색 버튼-->
            <span id="btn_search" class="search" style="right:16px"><img src="img/search.svg"></span>

            <div id="header_ins_img"><img id="header_profile_image" src="<% if(!locals.image || image == "") { %>/img/default_user.png<% } else {%><%= image %><% } %>" alt="..." class="img-circle"></div>
            <div id="header_ins_info">
                <text>투어/교육 <span id="tour_count"><%= tourList.length %></span>회</text>
                <text>|</text>
                <text>교육생 <%= follower_count %>명</text>
            </div>
            <div id="header_ins_btn">
                <button onclick="location.href='/introduction/<%= id %>';">강사 소개</button>
                <button>교육생</button>
            </div>
        </div>

        <div id="overlay"></div>

        <div class="side-nav">
            <ul>
                <li class="name">
                    <span><img id="profile_image" src="<% if(!locals.image || image == "") { %>/img/default_user.png<% } else {%><%= image %><% } %>" alt="" class="img-circle"></span>
                    <span class="INS_badge"><img src='img/ic.png' alt="" /></span>
                    <span>
                        <h5 id="profile_name"><%= name %></h5>
                        <p class="explain_text" style="text-align: left;">강사</p>
                    </span>
                </li>
                <li class="none"></li>
<!--                <li onclick="location.href='/mybgn';">내 교육생</li>-->
<!--                <li onclick="location.href='/license';">내 자격증</li>-->
                <li onclick="location.href='/profile_ins';">내 정보</li>
                <li>알림 설정</li>
                <!-- <li class="none"></li> -->
                <li onclick="location.href='/notice';">공지사항</li>
                <li onclick="location.href='/policy';">약관 및 정책</li>
<!--                <li onclick="sendEmail();">이메일 보내기</li>-->
<!--                <li onclick="sendSMS();">문자 보내기</li>-->
                <!-- <li class="none"></li> -->
                <li id="btn_logout">로그아웃</li>
            </ul>
        </div>

        <!--투어/교육 추가 버튼-->
        <div id="home_tour_plus">
            <button id="btn_tour_add" type="button" class="btn btn-block tour_plus">
                <span id="text_tour_education">일정 만들기</span>
            </button>
        </div>

<!--        <div class="gray_rectangle">-->
<!--            <div>-->
<!--                <button id="btn_tour_add_02" type="button" class="btn btn-block tour_plus">-->
<!--                    <span><img src="img/ic-add-blue.svg" alt="" /></span>-->
<!--                    <span id="text_tour_education">투어/교육 추가</span>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->

<% if( tourList.length == 0 ) { %>
        <div id="CONTENT_OFF" class="">
<% } else { %>
        <div id="CONTENT_OFF" class="hidden">
<% } %>
            <div style="margin-top:-12px">
                강사님 안녕하세요.
                <br>아래 '일정 만들기' 버튼을 눌러
                <br>새로운 일정을 시작해보세요
            </div>
            <!--아래 회색 배경 -->
            <div style="position: fixed; width: 100%; height: 100%; background-color: #f4f4f4; z-index: -1;"></div>
        </div>

<% if( tourList.length == 0 ) { %>
        <div id="CONTENT_ON" class="hidden">
<% } else { %>
        <div id="CONTENT_ON" class="">

    <% for(var i=0; i<tourList.length; i++) { %>
            <div class="tour">
                <div class="tour_image" onclick="location.href='/tour/<%= tourList[i]._id %>';"><img src="<% if( !locals.tourList[i].image || tourList[i].image == undefined || tourList[i].image == '' ) { %>/img/blank_tour.png<% } else { %><%= tourList[i].image %><% } %>" alt="" /></div>

                <div class="tour_bar <% if( tourList[i].participant_count >= tourList[i].member ) { %>tour_complete<% } else { %>tour_uncomplete<% } %>" onclick="location.href='/tour/<%= tourList[i]._id %>';">
                    <span class="tour_bar_text_left"><p><%= tourList[i].participant_count %>/<%= tourList[i].member %> 모집 중</p></span>
                    <span class="right"><img src="img/ic-keyboard-arrow-right-white.svg" alt="" /></span>
                    <span class="tour_bar_text_right"><p>자세히 보기</p></span>
                </div>

                <div class="tour_contents">
                    <div class="tour_contents_when">
                        <h4><%= tourList[i].name %></h4>
                    </div>
                    <div class="tour_contents_where">
                        <span>
                            <text>기간</text><%= tourList[i].startdate.substr(0,4) %>.<%= tourList[i].startdate.substr(4,2) %>.<%= tourList[i].startdate.substr(6,2) %> ~ <%= tourList[i].enddate.substr(0,4) %>.<%= tourList[i].enddate.substr(4,2) %>.<%= tourList[i].enddate.substr(6,2) %>
                        </span>
                        <span>
                            <text>장소</text><%= tourList[i].place %>
                        </span>
                    </div>
                    <div class="tour_contents_comment"><%= tourList[i].description %></div>
                    <div class="tour_contents_etc">
                        <span>댓글 <%= tourList[i].comment_count %></span>
                    </div>
                </div>

                <% if (i == tourList.length - 1) { %>
                <div class="tour_division_last"></div>
                <% } else { %>
                <div class="tour_division"></div>
                <% } %>
            </div>
    <% } %>

<% } %>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/Scubalink_js.js"></script>
        <script type="text/javascript" src="js/httpUtil.js"></script>
        <script>
            document.getElementById('btn_logout').onclick = function() {
                httpSend.send("/logout", { }, "POST", function(result) {
                    location.href = "/";
                });
            };

            document.getElementById('btn_search').onclick = function() {
                location.href = "/home_search";
            };

            document.getElementById('btn_tour_add').onclick = function() {
                location.href = "/tour_add";
            };

            document.getElementById('overlay').onclick = function() {
                $(".burger_container").click();
            };

            window.onpageshow = function (event) {
                httpSend.send("/profile/select", {

                }, "POST", function(result) {
                    console.log(result);

                    if( result.name != undefined && result.name != "" ) {
                        document.getElementById('header_profile_name').innerHTML = result.name;
                        document.getElementById('profile_name').innerHTML = result.name;
                    }

                    if( result.image != undefined && result.image != "" ) {
                        document.getElementById('profile_image').src = result.image;
                        document.getElementById('header_profile_image').src = result.image;
                    }
                }, function(errorCode, errorMessage) {
                    console.log(errorMessage);
                });

                httpSend.send("/tour/select", {

                }, "POST", function(result) {
                    console.log(result);

                    var html = "";
                    for( var i=0; i<result.tourList.length; i++ ) {
                        html += " <div class='tour'>";
                        if( result.tourList[i].image == undefined || result.tourList[i].image == "" )
                            html += " <div class='tour_image' onclick='location.href=\"/tour/"+result.tourList[i]._id+"\";'><img src='/img/blank_tour.png' alt='' /></div>";
                        else
                            html += " <div class='tour_image' onclick='location.href=\"/tour/"+result.tourList[i]._id+"\";'><img src='"+result.tourList[i].image+"' alt='' /></div>";

                        html+= "      <div class='tour_bar "+(result.tourList[i].participant_count >= result.tourList[i].member ? "tour_complete" : "tour_uncomplete")+"' onclick='location.href=\"/tour/"+result.tourList[i]._id+"\";'>";
                        html+= "          <span class='tour_bar_text_left'><p>"+result.tourList[i].participant_count+"/"+result.tourList[i].member+" 모집 중</p></span>";
                        html+= "          <span class='right'><img src='img/ic-keyboard-arrow-right-white.svg' alt='' /></span>";
                        html+= "          <span class='tour_bar_text_right'><p>자세히 보기</p></span>";
                        html+= "      </div>";
                        html+= "      <div class='tour_contents'>";
                        html+= "          <div class='tour_contents_when'>";
                        html+= "              <h4>"+result.tourList[i].name+"</h4>";
                        html+= "          </div>";
                        html+= "          <div class='tour_contents_where'>";
                        html+= "              <span><text>기간</text>"+result.tourList[i].startdate.substr(0,4)+"."+result.tourList[i].startdate.substr(4,2)+"."+result.tourList[i].startdate.substr(6,2)+" ~ "+result.tourList[i].enddate.substr(0,4)+"."+result.tourList[i].enddate.substr(4,2)+"."+result.tourList[i].enddate.substr(6,2)+"</span>";
                        html+= "              <span><text>장소</text>"+result.tourList[i].place+"</span>";
                        html+= "          </div>";
                        html+= "          <div class='tour_contents_comment'>"+result.tourList[i].description+"</div>";
                        html+= "          <div class='tour_contents_etc'>";
                        html+= "              <span>댓글 "+result.tourList[i].comment_count+"</span>";
                        html+= "          </div>";
                        html+= "      </div>";

                        if (i === result.tourList.length-1)
                            html+= "      <div class='tour_division_last'></div>";
                        else
                            html+= "      <div class='tour_division'></div>";
                        html+= "  </div>";
                    }

                    document.getElementById('tour_count').innerHTML = result.tourList.length;

                    if( result.tourList.length == 0 ) {
                        document.getElementById('CONTENT_ON').classList.add("hidden");
                        document.getElementById('CONTENT_OFF').classList.remove("hidden");
                    }
                    else {
                        document.getElementById('CONTENT_ON').innerHTML = html;

                        document.getElementById('CONTENT_OFF').classList.add("hidden");
                        document.getElementById('CONTENT_ON').classList.remove("hidden");
                    }
                }, function(errorCode, errorMessage) {
                    console.log(errorMessage);
                });
            }

            function sendEmail() {
                window.open('mailto:test@example.com,test@naver.com?subject=제목&body=내용');
            }

            function sendSMS() {
                if( /Android/i.test(navigator.userAgent)) {
                    window.open('sms:010-1111-2222;010-3333-4444;010-5555-6666?body=내용');
                }
                else {
                    window.open('sms:/open?addresses=01011112222,01033334444,01055556666&body=내용');
                }
            }
        </script>
    </body>
</html>
