<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>스쿠버 링크 : 홈</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/Scubalink_CSS_02.css" />

        <style>
            #btn_back { position: absolute; width: 40px; height: 40px; top: 0; left: 0; margin-left: 5px; margin-top: 5px; }
            #back { position: absolute; width: 16px; opacity: 0.54; top: 0; left: 0; margin-top: 12px; margin-left: 12px; }
        </style>
    </head>

    <body>
        <div class="header header_ins" name="myprofile">
            <span id="header_title" class="logo"><%= name %></span>

            <div id="btn_back"><img src="/img/left-arrow.svg" id="back" alt="" /></div>

            <span class="header_save">공유</span>

            <div id="header_ins_img"><img id="header_profile_image" src="<% if(!locals.image || image == "") { %>/img/default_user.png<% } else {%><%= image %><% } %>" alt="..." class="img-circle"></div>
            <div id="header_ins_info">
                <text>투어/교육 <span id="tour_profile_count"><%= tourList.length %></span>회</text>
                <text>|</text>
                <text>교육생 <span id="txt_follow_count"><%= followCount %></span>명</text>
            </div>

            <div id="header_ins_btn">
                <button onclick="location.href='/introduction/<%= id %>';">강사 소개</button>
                <% if(userType == "1") { %>
                <button>교육생</button>
                <% } else { %>
                <% if(isFollow < 0) { %>
                <button id="btn_follow" style="background-color:#145db2;color:#ffffff">내 강사로 등록</button>
                <button id="btn_unfollow" class="hidden" style="color:#777777">내 강사</button>
                <% } else { %>
                <button id="btn_follow" class="hidden" style="background-color:#145db2;color:#ffffff">내 강사로 등록</button>
                <button id="btn_unfollow" class="" style="color:#777777">내 강사</button>
                <% } %>
                <% } %>

                <div class="modal fade" id="ins_unfollow" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p>내 강사로 등록을 취소하겠습니까?</p>
                            </div>
                            <div class="modal-footer">
                                <button id="btn_cancel_unfollow" type="button">닫기</button>
                                <button id="btn_confirm_unfollow" type="button">등록 취소</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<% if( tourList.length == 0 ) { %>
        <div id="CONTENT_OFF" class="">
<% } else { %>
        <div id="CONTENT_OFF" class="hidden">
<% } %>
            <div style="line-height: 160px; padding: 0;">
                등록된 교육이 없습니다.
            </div>
            <!--아래 회색 배경 -->
            <div style="position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: #f4f4f4; z-index: -1;"></div>
        </div>

<% if( tourList.length == 0 ) { %>
        <div id="CONTENT_ON" class="hidden">
<% } else { %>
        <div id="CONTENT_ON" class="">
    <% for(var i=0; i<tourList.length; i++) { %>
            <div class="tour">
                <div class="tour_image" onclick="location.href='/tour/<%= tourList[i]._id %>';"><img src="<% if( !locals.tourList[i].image || tourList[i].image == undefined || tourList[i].image == '' ) { %>/img/blank_tour.png<% } else { %><%= tourList[i].image %><% } %>" alt="" /></div>

                <% if (tourList[i].participant_count >= tourList[i].member || tourList[i].status == "FINISH") { %>
                    <div class="tour_bar tour_complete" onclick="location.href='/tour/<%= tourList[i]._id %>';">
                        <span class="tour_bar_text_left"><p><%= tourList[i].participant_count %>/<%= tourList[i].member %> 모집 마감</p></span>
                <% } else { %>
                    <div class="tour_bar tour_uncomplete" onclick="location.href='/tour/<%= tourList[i]._id %>';">
                        <span class="tour_bar_text_left"><p><%= tourList[i].participant_count %>/<%= tourList[i].member %> 모집 중</p></span>
                <% } %>
                    <span class="right"><img src="/img/ic-keyboard-arrow-right-white.svg" alt="" /></span>
                    <span class="tour_bar_text_right"><p>자세히 보기</p></span>
                </div>

                <div class="tour_contents">
                    <div class="tour_contents_when">
                        <h4><%= tourList[i].name %></h4>
                    </div>
                    <div class="tour_contents_where">
                        <span>
                            <text>기간</text><%= tourList[i].startdate.substr(0,4) %>.<%= tourList[i].startdate.substr(4,2) %>.<%= tourList[i].startdate.substr(6,2) %> ~ <%= tourList[i].enddate.substr(0,4) %>.<%= tourList[i].enddate.substr(4,2) %>.<%= tourList[i].enddate.substr(6,2) %>
                        </span>
                        <span>
                            <text>장소</text><%= tourList[i].place %>
                        </span>
                    </div>
                    <div class="tour_contents_comment"><%= tourList[i].description %></div>
                    <div class="tour_contents_etc">
                        <span>댓글 <%= tourList[i].comment_count %></span>
                    </div>
                </div>
                <div class="tour_division"></div>
            </div>
    <% } %>
<% } %>

        </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/Scubalink_js.js"></script>
        <script type="text/javascript" src="/js/httpUtil.js"></script>
        <script type="text/javascript">
            var insId = '<%= id %>';

            document.getElementById('btn_back').onclick = function() {
                history.back();
            };

            if( document.getElementById('btn_follow') != null ) {
                document.getElementById('btn_follow').onclick = function() {
                    httpSend.send("/follow/update", {
                        ins     : insId,
                        type    : 1
                    }, "POST", function(result) {
                        console.log(result);

                        document.getElementById('btn_follow').classList.add("hidden");
                        document.getElementById('btn_unfollow').classList.remove("hidden");

                        document.getElementById('txt_follow_count').innerText = parseInt(document.getElementById('txt_follow_count').innerText)+1;
                    }, function(errorCode, errorMessage) {
                        console.log(errorMessage);
                    });
                };
            }

            if( document.getElementById('btn_unfollow') != null ) {
                document.getElementById('btn_unfollow').onclick = function() {
                    document.getElementById('ins_unfollow').style.display = 'block';
                    setTimeout(function () {
                        document.getElementById('ins_unfollow').style.opacity = '1';
                    }, 10);
                };
            }

            if( document.getElementById('btn_confirm_unfollow') != null ) {
                document.getElementById('btn_confirm_unfollow').onclick = function () {
                    document.getElementById('ins_unfollow').style.opacity = '0';
                    setTimeout(function () {
                        document.getElementById('ins_unfollow').style.display = 'none';
                    }, 200);

                    httpSend.send("/follow/update", {
                        ins     : insId,
                        type    : 2
                    }, "POST", function(result) {
                        console.log(result);

                        document.getElementById('btn_unfollow').classList.add("hidden");
                        document.getElementById('btn_follow').classList.remove("hidden");

                        document.getElementById('txt_follow_count').innerText = parseInt(document.getElementById('txt_follow_count').innerText)-1;
                    }, function(errorCode, errorMessage) {
                        console.log(errorMessage);
                    });
                }
            }

            if( document.getElementById('btn_cancel_unfollow') != null ) {
                document.getElementById('btn_cancel_unfollow').onclick = function () {
                    document.getElementById('ins_unfollow').style.opacity = '0';
                    setTimeout(function () {
                        document.getElementById('ins_unfollow').style.display = 'none';
                    }, 200);
                }
            }

            window.onpageshow = function (event) {
                httpSend.send("/tour/select", {
                    insId     : insId
                }, "POST", function(result) {
                    console.log(result);

                    document.getElementById('tour_profile_count').innerHTML = result.tourList.length;
                    var html = "";
                    for( var i=0; i<result.tourList.length; i++ ) {
                        html += " <div class='tour'>";
                        if( result.tourList[i].image == undefined || result.tourList[i].image == "" )
                            html += " <div class='tour_image' onclick='location.href=\"/tour/"+result.tourList[i]._id+"\";'><img src='/img/blank_tour.png' alt='' /></div>";
                        else
                            html += " <div class='tour_image' onclick='location.href=\"/tour/"+result.tourList[i]._id+"\";'><img src='"+result.tourList[i].image+"' alt='' /></div>";

                        if (result.tourList[i].participant_count >= result.tourList[i].member || result.tourList[i].status === 'FINISH') {
                            html+= "      <div class='tour_bar tour_complete' onclick='location.href=\"/tour/"+result.tourList[i]._id+"\";'>";
                            html+= "          <span class='tour_bar_text_left'><p>"+result.tourList[i].participant_count+"/"+result.tourList[i].member+" 모집 마감</p></span>";
                        } else {
                            html+= "      <div class='tour_bar tour_uncomplete' onclick='location.href=\"/tour/"+result.tourList[i]._id+"\";'>";
                            html+= "          <span class='tour_bar_text_left'><p>"+result.tourList[i].participant_count+"/"+result.tourList[i].member+" 모집 중</p></span>";
                        }
                        html+= "          <span class='right'><img src='/img/ic-keyboard-arrow-right-white.svg' alt='' /></span>";
                        html+= "          <span class='tour_bar_text_right'><p>자세히 보기</p></span>";
                        html+= "      </div>";
                        html+= "      <div class='tour_contents'>";
                        html+= "          <div class='tour_contents_when'>";
                        html+= "              <h4>"+result.tourList[i].name+"</h4>";
                        html+= "          </div>";
                        html+= "          <div class='tour_contents_where'>";
                        html+= "              <span><text>기간</text>"+result.tourList[i].startdate.substr(0,4)+"."+result.tourList[i].startdate.substr(4,2)+"."+result.tourList[i].startdate.substr(6,2)+" ~ "+result.tourList[i].enddate.substr(0,4)+"."+result.tourList[i].enddate.substr(4,2)+"."+result.tourList[i].enddate.substr(6,2)+"</span>";
                        html+= "              <span><text>장소</text>"+result.tourList[i].place+"</span>";
                        html+= "          </div>";
                        html+= "          <div class='tour_contents_comment'>"+result.tourList[i].description+"</div>";
                        html+= "          <div class='tour_contents_etc'>";
                        html+= "              <span>댓글 "+result.tourList[i].comment_count+"</span>";
                        html+= "          </div>";
                        html+= "      </div>";
                        html+= "      <div class='tour_division'></div>";
                        html+= "  </div>";
                    }


                    if( result.tourList.length == 0 ) {
                        document.getElementById('CONTENT_ON').classList.add("hidden");
                        document.getElementById('CONTENT_OFF').classList.remove("hidden");
                    }
                    else {
                        document.getElementById('CONTENT_ON').innerHTML = html;

                        document.getElementById('CONTENT_OFF').classList.add("hidden");
                        document.getElementById('CONTENT_ON').classList.remove("hidden");
                    }
                }, function(errorCode, errorMessage) {
                    console.log(errorMessage);
                });
            }
        </script>
    </body>
</html>
