<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>스쿠버 링크 : 홈</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/Scubalink_CSS_02.css" />

        <style>
            #btn_back { position: absolute; width: 40px; height: 40px; top: 0; left: 0; margin-left: 5px; margin-top: 5px; }
            #back { position: absolute; width: 16px; opacity: 0.54; top: 0; left: 0; margin-top: 12px; margin-left: 12px; }
            #header_title, #btn_follow, #btn_unfollow { top: 0; padding-top: 0; line-height: 50px; }
        </style>
    </head>

    <body>
        <div class="header" name="myprofile">
            <span id="header_title" class="logo"><%= name %></span>

            <div id="btn_back"><img src="/img/left-arrow.svg" id="back" alt="" /></div>

            <% if(userType == "2") { %>
                <% if(isFollow < 0) { %>
                    <span id="btn_follow" class="header_save ">팔로우</span>
                    <span id="btn_unfollow" class="header_save header_save_ hidden">팔로우중</span>
                <% } else { %>
                    <span id="btn_follow" class="header_save hidden">팔로우</span>
                    <span id="btn_unfollow" class="header_save header_save_">팔로우중</span>
                <% } %>
            <% } %>
        </div>

        <div class="gray_rectangle">
            <span class="big_img"><img src="<% if(!locals.image || image == "") { %>/img/default_user.png<% } else {%><%= image %><% } %>" alt="" class="img-circle" /></span>

            <span class="INS_info">
                <h5><%= name %></h5>
                <p><% if(locals.group && group != "") { %><%= group %><% } else {%>소속단체 없음<% } %></p>
                <span>투어/교육  <text id="txt_tour_count"><%= tourList.length %></text></span>
                <span>팔로우  <text id="txt_follow_count"><%= followCount %></text></span>
            </span>

            <div class="INS_self_info"><% if(locals.description && description != "") { %><%= description %><% } else {%>강사소개 없음<% } %></div>
        </div>

<% if( tourList.length == 0 ) { %>
        <div id="CONTENT_OFF" class="">
<% } else { %>
        <div id="CONTENT_OFF" class="hidden">
<% } %>
            <div style="line-height: 160px; padding: 0;">
                등록된 교육이 없습니다.
            </div>

            <div></div>
        </div>

<% if( tourList.length == 0 ) { %>
        <div id="CONTENT_ON" class="hidden">
<% } else { %>
        <div id="CONTENT_ON" class="">
    <% for(var i=0; i<tourList.length; i++) { %>
            <div class="tour">
                <div class="tour_head" onclick="location.href='/profile/<%= tourList[i].ins_id %>';">
                    <div style='width: 1px; height: 48px; display: inline-block;'></div>
                    <span><img src='<% if( !locals.tourList[i].ins_image || tourList[i].ins_image == undefined || tourList[i].ins_image == '' ) { %>/img/default_user.png<% } else { %><%= tourList[i].ins_image %><% } %>' alt='' class='img-circle' /></span>
                    <span class="INS_badge"><img src='/img/ic.png' alt="" /></span>
                    <span>
                        <h5><%= tourList[i].ins_name %></h5>
                        <p class="explain_text"><% if( !locals.tourList[i].ins_group || tourList[i].ins_group == undefined || tourList[i].ins_group == '' ) { %>소속 없음<% } else { %><%= tourList[i].ins_group %><% } %></p>
                    </span>
                </div>

                <div class="tour_image" onclick="location.href='/tour/<%= tourList[i]._id %>';"><img src="<% if( !locals.tourList[i].image || tourList[i].image == undefined || tourList[i].image == '' ) { %>/img/blank_tour.png<% } else { %><%= tourList[i].image %><% } %>" alt="" /></div>

                <div class="tour_bar <% if( tourList[i].participant_count >= tourList[i].member ) { %>tour_complete<% } else { %>tour_uncomplete<% } %>" onclick="location.href='/tour/<%= tourList[i]._id %>';">
                    <span class="tour_bar_text_left"><p><%= tourList[i].participant_count %>/<%= tourList[i].member %> 모집 중</p></span>
                    <span class="right"><img src="/img/ic-keyboard-arrow-right-white.svg" alt="" /></span>
                    <span class="tour_bar_text_right"><p>자세히 보기</p></span>
                </div>

                <div class="tour_contents">
                    <div class="tour_contents_when">
                        <h4><%= tourList[i].startdate.substr(4,2) %>.<%= tourList[i].startdate.substr(6,2) %> ~ <%= tourList[i].enddate.substr(4,2) %>.<%= tourList[i].enddate.substr(6,2) %> / <%= tourList[i].name %></h4>
                    </div>
                    <div class="tour_contents_where">
                        <span><img src="/img/ic-map-marker.svg" alt="" /></span>
                        <span><%= tourList[i].place %></span>
                    </div>
                    <div class="tour_contents_comment"><%= tourList[i].description %></div>
                    <div class="tour_contents_etc">
                        <span>댓글 <%= tourList[i].comment_count %></span>
                    </div>
                </div>
                <div class="tour_division"></div>
            </div>
    <% } %>
<% } %>

        </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/Scubalink_js.js"></script>
        <script type="text/javascript" src="/js/httpUtil.js"></script>
        <script type="text/javascript">
            var insId = '<%= id %>';
            var week = new Array('일', '월', '화', '수', '목', '금', '토');

            document.getElementById('btn_back').onclick = function() {
                history.back();
            };

            if( document.getElementById('btn_follow') != null ) {
                document.getElementById('btn_follow').onclick = function() {
                    httpSend.send("/follow/update", {
                        ins     : insId,
                        type    : 1
                    }, "POST", function(result) {
                        console.log(result);

                        document.getElementById('btn_follow').classList.add("hidden");
                        document.getElementById('btn_unfollow').classList.remove("hidden");

                        document.getElementById('txt_follow_count').innerText = parseInt(document.getElementById('txt_follow_count').innerText)+1;
                    }, function(errorCode, errorMessage) {
                        console.log(errorMessage);
                    });
                };
            }

            if( document.getElementById('btn_unfollow') != null ) {
                document.getElementById('btn_unfollow').onclick = function() {
                    httpSend.send("/follow/update", {
                        ins     : insId,
                        type    : 2
                    }, "POST", function(result) {
                        console.log(result);

                        document.getElementById('btn_unfollow').classList.add("hidden");
                        document.getElementById('btn_follow').classList.remove("hidden");

                        document.getElementById('txt_follow_count').innerText = parseInt(document.getElementById('txt_follow_count').innerText)-1;
                    }, function(errorCode, errorMessage) {
                        console.log(errorMessage);
                    });
                };
            }

            window.onpageshow = function (event) {
                httpSend.send("/tour/select", {

                }, "POST", function(result) {
                    console.log(result);

                    var html = "";
                    for( var i=0; i<result.tourList.length; i++ ) {
                        html += " <div class='tour'>";
                        html += "     <div class='tour_head' onclick='location.href=\"/profile/"+result.tourList[i].ins_id+"\";'>";
                        html += "         <div style='width: 1px; height: 48px; display: inline-block;'></div>"

                        if( result.tourList[i].ins_image == undefined || result.tourList[i].ins_image == "" )
                            html += "     <span><img src='/img/default_user.png' alt='' class='img-circle' /></span>";
                        else
                            html += "     <span><img src='"+result.tourList[i].ins_image+"' alt='' class='img-circle' /></span>";

                        html += "         <span class='INS_badge'><img src='/img/ic.png' alt='' /></span>";
                        html += "         <span>";
                        html += "             <h5>"+result.tourList[i].ins_name+"</h5>";

                        if( result.tourList[i].ins_group == undefined || result.tourList[i].ins_group == "" )
                            html += "         <p class='explain_text'>소속 없음</p>";
                        else
                            html += "         <p class='explain_text'>"+result.tourList[i].ins_group+"</p>";

                        html += "         </span>";
                        html += "     </div>";

                        if( result.tourList[i].image == undefined || result.tourList[i].image == "" )
                            html += " <div class='tour_image' onclick='location.href=\"/tour/"+result.tourList[i]._id+"\";'><img src='/img/blank_tour.png' alt='' /></div>";
                        else
                            html += " <div class='tour_image' onclick='location.href=\"/tour/"+result.tourList[i]._id+"\";'><img src='"+result.tourList[i].image+"' alt='' /></div>";

                        html+= "      <div class='tour_bar "+(result.tourList[i].participant_count >= result.tourList[i].member ? "tour_complete" : "tour_uncomplete")+"' onclick='location.href=\"/tour/"+result.tourList[i]._id+"\";'>";
                        html+= "          <span class='tour_bar_text_left'><p>"+result.tourList[i].participant_count+"/"+result.tourList[i].member+" 모집 중</p></span>";
                        html+= "          <span class='right'><img src='/img/ic-keyboard-arrow-right-white.svg' alt='' /></span>";
                        html+= "          <span class='tour_bar_text_right'><p>자세히 보기</p></span>";
                        html+= "      </div>";
                        html+= "      <div class='tour_contents'>";
                        html+= "          <div class='tour_contents_when'>";

                        var tempDate1 = new Date(result.tourList[i].startdate.substr(0,4)+"-"+result.tourList[i].startdate.substr(4,2)+"-"+result.tourList[i].startdate.substr(6,2)+"T00:00:00");
                        var tempDate2 = new Date(result.tourList[i].enddate.substr(0,4)+"-"+result.tourList[i].enddate.substr(4,2)+"-"+result.tourList[i].enddate.substr(6,2)+"T00:00:00");
                        html+= "              <h4>"+result.tourList[i].startdate.substr(4,2)+"."+result.tourList[i].startdate.substr(6,2)+week[tempDate1.getDay()]+" ~ "+result.tourList[i].enddate.substr(4,2)+"."+result.tourList[i].enddate.substr(6,2)+week[tempDate2.getDay()]+" / "+result.tourList[i].name+"</h4>";

                        html+= "          </div>";
                        html+= "          <div class='tour_contents_where'>";
                        html+= "              <span><img src='/img/ic-map-marker.svg' alt='' /></span>";
                        html+= "              <span>"+result.tourList[i].place+"</span>";
                        html+= "          </div>";
                        html+= "          <div class='tour_contents_comment'>"+result.tourList[i].description+"</div>";
                        html+= "          <div class='tour_contents_etc'>";
                        html+= "              <span>댓글 "+result.tourList[i].comment_count+"</span>";
                        html+= "          </div>";
                        html+= "      </div>";
                        html+= "      <div class='tour_division'></div>";
                        html+= "  </div>";
                    }


                    if( result.tourList.length == 0 ) {
                        document.getElementById('CONTENT_ON').classList.add("hidden");
                        document.getElementById('CONTENT_OFF').classList.remove("hidden");
                    }
                    else {
                        document.getElementById('CONTENT_ON').innerHTML = html;

                        document.getElementById('CONTENT_OFF').classList.add("hidden");
                        document.getElementById('CONTENT_ON').classList.remove("hidden");
                    }
                }, function(errorCode, errorMessage) {
                    console.log(errorMessage);
                });
            }
        </script>
    </body>
</html>
